<div class ="container">
  
  <h1 class="text-center font-weight-bold" >Apoyo económico - Alimentario</h1>
  </div>

  <head>
    <style>
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        </style>
        
</head>

<div class ="container">
  <img src="https://www.javeriana.edu.co/documents/15832/10764394/money-stacks-of-coins.png/5e9b14f8-0cea-456f-8f45-b3c215fc2a4e?t=1557431497528" alt="Apoyo económico y/o alimentario" style="width:600px;height:300px;">>
  
</div>